<ion-view view-title="La Méthode">
    <ion-content>
        <a class="button button-full button-dark" ui-sref="listeSeances({type:'Musculation'})">Musculation</a>
        <a class="button button-full button-dark" ui-sref="listeSeances({type:'Souplesse'})">Souplesse</a>
        <a class="button button-full button-dark" ui-sref="listeSeances({type:'Piliers'})">4 piliers</a>
        <a class="button button-full button-dark" ui-sref="listeSeances({type:'Cardio'})">Cardio</a>
        <a class="button button-full button-dark" ui-sref="listeExercices">Exercices</a>
        <a class="button button-full button-dark" ui-sref="configuration">Configuration</a>
        <!--<a class="button button-full button-dark" ui-sref="test">Test</a>-->
    </ion-content>
</ion-view>